services:
  traefik:
    image: traefik:v3.3.4
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./opt/acme.json:/acme.json
    networks:
      - traefik_net
    command:
      - "--log.level=DEBUG"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik_net"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.email=${EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    labels:
      - "traefik.enable=true"
      
      # HTTP router - for ACME challenges and redirect
      - "traefik.http.routers.traefik-http.rule=Host(`${TRAEFIK_SUBDOMAIN}`)"
      - "traefik.http.routers.traefik-http.entrypoints=web"
      - "traefik.http.routers.traefik-http.service=api@internal"
      
      # HTTPS router - for the dashboard
      - "traefik.http.routers.traefik-https.rule=Host(`${TRAEFIK_SUBDOMAIN}`)"
      - "traefik.http.routers.traefik-https.service=api@internal"
      - "traefik.http.routers.traefik-https.entrypoints=websecure"
      - "traefik.http.routers.traefik-https.tls=true"
      - "traefik.http.routers.traefik-https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik-https.middlewares=auth"
      # sacar una vez que esten todos los certificados
      - "traefik.http.routers.traefik-http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"
      # Middleware
      - "traefik.http.middlewares.auth.basicauth.users=${BASIC_AUTH_USERS}"
    env_file:
      - .env

networks:
  traefik_net:
    external: true