[entryPoints]
  [entryPoints.web]
    address = ":80"
    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"
  [entryPoints.websecure]
    address = ":443"
  [entryPoints.video]
    address = ":10000/udp"

[log]
  level = "INFO"

[accessLog]
  filePath = "/traefik.log"
  format = "common"

[api]
  dashboard = true

[providers.docker]
  exposedByDefault = false
  network = "traefik_net"

[certificatesResolvers.letsencrypt.acme]
  storage = "acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    entryPoint = "web"